*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Montserrat", sans-serif;
}

header
{
    background-color: #333;
    color: azure;
    padding: 100px 0;
    text-align: center;
}

h3
{
    color: white;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin: 40px 60px 0;
    z-index: 3;
    font-size: 50px;
}

nav
{
    background-color: #111;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;

    a
    {
        color: aliceblue;
        text-decoration: none;
        padding: 0 150px;
    }

}

main
{
    padding: 50px;
    height: 800px;

    .main-conteiner
    {
        background-color: #ccc;
        padding: 60px;

    .main-info
    {
        margin: 20px 0;
    }

    }
   
}

footer
{
    background-color: #111;
    padding: 20px;
    color: white;
    text-align: center;

}